.document-table{
    display:flex;
    flex-direction:column;
    width:70%;
    gap:0.5em;
}

.document-table thead tr{
    font-weight: 600;
}

.document-table tr{
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid #c5c5c5;
    padding: 1em;
}

.document-table .row-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 15vw; /* set the width of the text container */
}