.login-element-container{
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
  height: 50vh;
}

.loading-container{
  font-size: 2em;
  font-weight: 600;
  margin-top: 5em;
}